Phases/Software Design/States/bin/
Phases/Software Design/.metadata/
Phases/Software Design/States/main.jar
Phases/Software Design/States/.settings
Phases/Software Design/States/.classpath
Phases/Software Design/States/.project
Phases/wavs/Done-old1.wav
